@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    --color-grey: #cccccc;
}


h1 {
    text-align: center;
    margin: 3rem 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
}


.titulo1 {
    font-size: 24pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #30383B;
    padding-top: 70px;
    font-family: "Poppins", sans-serif;
}

.divisorbloco {
    width: 100%;
    margin-bottom: 70px;
    text-align: center;
}

.divisorbloco .linha {
    width: 100px;
    height: 2px;
    background: #0b86dd;
    display: inline-block;
}

.erro-message {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #30383B;
    font-weight: bold;
    text-transform: uppercase;
}



/* banner */

.content {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-left: 70px;

}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    padding-left: 20px;
    padding-top: 20px;
    height: auto;
    z-index: 1;
}

.banner {
    background-image: url('../img/areaclinicabanner.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../areaclinicabanner.jpeg');
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
}

.title {
    padding-top: 100px;
    font-size: 64px;
    color: #30383B;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-bottom: 25px;
}

.subtitle,
.subtitle1 {
    font-size: 24px;
    color: #30383B;
    font-family: "Poppins", sans-serif;
}

.button1{
    margin-top: 50px;
    padding: 15px 25px;
    background: linear-gradient(8deg, #0b86dd 15.1%, #419fe1 100%);
    color: #fff;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    display: inline-block;
    border-radius: 2rem;
}

.button1:hover {
    background: #fff;
    color: #0b86dd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 30px 25px -5px, rgba(0, 0, 0, 0.04) 0px 20px 10px -5px;
}



/************* Categoria ***********/

.servicos {
    padding-bottom: 64px;
}

.grid-servicos {
    padding: 0;
    display: grid;

    grid-template-columns: repeat(3, auto);
    justify-items: center;
    margin-top: 50px;
}

.servicos-card {
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 25rem; /* Largura fixa do cartão */
    height: 18rem; /* Altura fixa do cartão */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    position: relative; /* Define o posicionamento relativo no cartão */
}

.servicos-card-content {
    flex-grow: 1; /* Permite que o conteúdo do cartão cresça para ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    padding: 0 20px;
}

.servicos-card h5 {
    margin-top: 16px;
    color: #0b86dd;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 90%;
    word-wrap: break-word;
}

.servicos-card p {
    align-self: center;
    margin: 10px;
    max-width: 90%;
    word-wrap: break-word;
    font-size: 14px;
    color: #30383B;
    font-family: "Poppins", sans-serif;
}

.servicos-card img{
    margin-top: 15px;
    align-self: center;
}


/* animation */
.servicos-card.animation {
    animation: up-opacity ease-in 0.5s;
}

/* comments */
@keyframes up-opacity {
    0% {
        z-index: -1;
        height: fixed;
        transform: translateY(10svh);
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}


.button {
    padding: 10px 40px;
    background-color: white;
    color: #0b86dd;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 16px;
    border: 1px solid #0b86dd;
    border-radius: 2rem;
    cursor: pointer;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.button-wrapper {
    text-align: center;
    position: absolute;
    bottom: 25px; /* Distância fixa do botão em relação ao fundo do cartão */
    left: 50%; /* Posiciona o botão no centro horizontal do cartão */
    transform: translateX(-50%); /* Corrige o posicionamento horizontal do botão */
}

.button:hover {
    background-color: #0b86dd;
    color: #fff;
    border-radius: 2rem;
}



/************* Responsivo ***********/


@media (max-width: 1360px) {
    .grid-servicos {
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
    }
}

@media (max-width: 992px) {
    .grid-servicos {
        grid-template-columns: repeat(1, auto);

    }
}

@media screen and (max-width:700px) {
    .container {
        height: auto;
    }
}

/*--responsive for mobile phone--*/
@media(max-width:720px) {

    .content {
        margin-left: 0;
    }

    .title {
        padding-top: 2svh;
    }

    .title,
    .subtitle,
    .subtitle1 {
        font-size: 6svh;
        text-align: center;

    }

    .subtitle,
    .subtitle1 {
        font-size: 3svh;
    }

    .content .button1 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;


    }
}

