@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    --color-grey: #cccccc;
}


h1 {
    text-align: center;
    margin: 3rem 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
}


.titulo {

    font-size: 24pt;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    padding-top: 150px;
    padding-bottom: 20px;
}

/************* Main ***********/

.banner {
    background-image: url('../img/dentist-2589771.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/************* Categoria ***********/

.rowcategoria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding-bottom: 250px;
}

.cardcategoria {
    width: 500;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}

.cardcategoria img{
    width: 500px;
    height: 300px;
    border-bottom: 1px solid #ddd;
    object-fit: cover;
    transition-duration: 0.5s;
}

.imgcat {
    width: 500px;
    height: 300px;
    overflow: hidden; /* Oculta qualquer parte da imagem que saia da div */
}

.cardcategoria:hover img {
    scale: 115%;
}

.cardcategoria h2 {
    padding-top: 10px;
    text-align: center;
    color: #0b86dd;

}

.cardcategoria p {
    padding-left: 10px;
    padding-right: 10px;
}


/************* Especialifdades ***********/
.rowequipa {
    display: flex;
    flex-wrap: wrap;
    max-width: 1450px;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

.cardequipa {
    width: 350;
    border-radius: 8px;
    margin: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cardequipa img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    object-fit: cover;
}

.cardequipa h2 {
    padding-top: 10px;
    text-align: center;
    color: #0b86dd;

}

.cardequipa p {
    padding-left: 10px;
    padding-right: 10px;
}
/*
.card-conteudo {

}*/



@media (max-width: 1200px) {
    .rowequipa {
        max-width: 800px; /* Defina a largura máxima da div dos cards */
        margin: 0 auto; /* Centralize a div dos cards na página */
    }

    .cardequipa {
        width: 300px ;  /* Calcula a largura para exibir 2 cards por linha */
        margin: 20px; /* Ajusta a margem entre os cards */
    }
}
