@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    --color-grey: #cccccc;
}


h1 {
    text-align: center;
    margin: 3rem 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
}


.titulo {
    font-size: 24pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #30383B;
    padding-top: 75px;
}

.divisorbloco {
    width: 100%;
    margin-bottom: 70px;
    text-align: center;
}

.divisorbloco .linha {
    width: 100px;
    height: 2px;
    background: #0b86dd;
    display: inline-block;
}

/************* Main ***********/

.banner {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/serv.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Opacidade da imagem de fundo */
}
.content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px; /* Define a largura máxima do conteúdo */
    position: relative; /* Para garantir que o conteúdo esteja sobreposto à imagem de fundo */
    z-index: 1;
}

.erro-message {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #30383B;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    padding-top: 100px;
    font-size: 64px;
    color: #30383B;
    font-weight: bold;
    margin-bottom: 40px;
}

.subtitle,
.subtitle1 {
    font-size: 22px;
    color: #30383B;
    margin-left: 17px;
}

.button1 {
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 35px;
    padding: 10px 40px;
    background-color: #0b86dd;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 16px;
    text-align: left;
    border:1px solid #0b86dd;
    cursor: pointer;
    display: inline-block;
    border-radius: 2rem;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.button1:hover {
    background-color: white;
    color: #0b86dd;
    /*scale: 105%;*/
    border-radius: 2rem;
}

.button1-wrapper {
    text-align: center; /* Alinha o botão à esquerda */

}
/************* Categoria ***********/


.servicos {
    padding-bottom: 64px;
}

.grid-servicos {
    padding: 0;
    display: grid;

    grid-template-columns: repeat(3, auto);
    justify-items: center;
    margin-top: 50px;
}

.servicos-card {
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 25rem; /* Aumentando a largura máxima dos cards */
    min-height: 15rem;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.servicos-card h5 {
    margin-top: 16px;
    color: #0b86dd;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 90%; /* Defina uma largura máxima para o texto */
    word-wrap: break-word; /* ou overflow-wrap: break-word; */
}

.servicos-card p {
    align-self: center;
    margin: 10px;
    max-width: 90%;
    word-wrap: break-word;
    font-size: 14px;
    color: #30383B;
    font-family: "Poppins", sans-serif;
}

.servicos-card img{
    margin-top: 15px;
    align-self: center;
}


/* animation */
.servicos-card.animation {
    animation: up-opacity ease-in 0.5s;
}

/* comments */
@keyframes up-opacity {
    0% {
        z-index: -1;
        height: fixed;
        transform: translateY(10svh);
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}





.button {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 35px;
    padding: 10px 40px;
    background-color: white;
    color: #0b86dd;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 16px;
    text-align: left;
    border:1px solid #0b86dd;
    cursor: pointer;
    display: inline-block;
    border-radius: 2rem;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.button-wrapper {
    text-align: center; /* Alinha o botão à esquerda */

}

.button:hover {
    background-color: #0b86dd;
    color: #fff;
    /*scale: 105%;*/
    border-radius: 2rem;
}



/*
.rowcategoria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding-bottom: 250px;
}

.cardcategoria {
    width: 500;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}

.cardcategoria img{
    width: 500px;
    height: 300px;
    border-bottom: 1px solid #ddd;
    object-fit: cover;
    transition-duration: 0.5s;
}

.imgcat {
    width: 500px;
    height: 300px;
    overflow: hidden;
}

.cardcategoria:hover img {
    scale: 115%;
}

.cardcategoria h2 {
    padding-top: 10px;
    text-align: center;
    color: #0b86dd;

}

.cardcategoria p {
    padding-left: 10px;
    padding-right: 10px;
}
  */

/************* Especialifdades ***********/


@media (max-width: 1360px) {
    .grid-servicos {
        grid-template-columns: repeat(2, auto); /* Dois cards por linha em telas menores */
        gap: 1rem;
    }
}

@media (max-width: 992px) {
    .grid-servicos {
        grid-template-columns: repeat(1, auto); /* Dois cards por linha em telas menores */

    }
}
/*
@media (max-width: 1200px) {
    .rowequipa {
        max-width: 800px;
        margin: 0 auto;
    }

    .cardequipa {
        width: 300px ;
        margin: 20px;
    }
}
*/
