@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    --color-grey: #cccccc;
}


h1 {
    text-align: center;
    margin: 3rem 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
}

/*---TITULO---*/

.titulo1 {
    font-size: 24pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #30383B;
    padding-top: 150px;
    font-family: "Poppins", sans-serif;
}

.divisorbloco {
    width: 100%;
    margin-bottom: 70px;
    text-align: center;
}

.divisorbloco .linha {
    width: 100px;
    height: 2px;
    background: #0b86dd;
    display: inline-block;
}

/*---CONTACTOS, HORARIO E MAPA---*/

#main2{
    padding-bottom: 50px;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

#contactos2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /* Alterado para centralizar os itens sem espaço extra */
    margin-top: 50px;
    background-color: #ffffff;
}

#infocontactos2 {
    max-width: 650px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px; /* Adicione margem no topo */
    display: flex;
    flex-direction: column;
}

.info-bloco {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 70px; /* Adicione margem à esquerda para separar os elementos */
}


.info-bloco i {
    margin-right: 30px; /* Adiciona espaço após o ícone */
    font-size: 20px;
}

.info-content h6 {
    font-size: 16pt;
    font-weight: 600;
    color: #30383B;

}

.info-content p {
    font-size: 14px;
    color: #787c83;

    margin-bottom: 5px; /* Remover a margem inferior */
}




/*--RESPONSIVO--*/
@media screen and (max-width: 1096px) {
    #infocontactos2{
        padding-top: 70px;
        flex-direction: row;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    #contactos2 {
        margin-left: 100px;
        margin-right: 100px;
    }
    .info-bloco {
        margin-left: 0;
        margin-right: 20px;
        flex: 1;
        max-width: 300px;
    }
}

@media screen and (max-width: 1024px) {
    #contactos2 {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 768px) {
    #infocontactos2 {
        flex-direction: column;
    }
    .info-bloco {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
    }
    #contactos2 {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 480px) {
    #contactos2 {
        margin-left: 30px;
        margin-right: 30px;
    }
}



/*---TITULO 2---*/

.titulo2 {
    font-size: 20pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #30383B;
    padding-top: 50px;
}

/*---SUBTITULO---*/

.subtitulo {
    font-size: 14pt;
    text-align: center;
    font-style: normal;
    color: #787c83;
}

/*---FORMULARIO---*/

.container {
    max-width: 1000px;
    margin: 50px auto;
}

form {
    background-color: #f5f5f5;
    padding: 20px;
    padding-bottom: 50px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-column {
    flex: 1; /* This allows the columns to grow */
    margin-right: 20px;
}

.form-column:last-child {
    margin-right: 0;
}

label {
    margin-bottom: 5px;
    display: block;
    font-weight: 600;
    font-size: 14pt;
    color: #419fe1;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: none;
    border-bottom: 2px solid #0b86dd;
}

select {
    width: 100%;
    height: 44.8px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;

    color: rgba(0, 0, 0, 0.6);
}

select:focus {
    outline: none;
    border-bottom: 2px solid #0b86dd;
}

#mensagem {

    resize: none;
    overflow: hidden;
}

button {
    padding: 10px 30px;
    margin-top: 50px !important;
    background: linear-gradient(8deg, #0b86dd 15.1%, #419fe1 100%);
    color: #fff;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 16px;
    text-align: left;
    border:1px solid #0b86dd;
    cursor: pointer;
    display: inline-block;
    border-radius: 2rem;
}


button:hover {
    background: #fff;
    color: #0b86dd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 30px 25px -5px, rgba(0, 0, 0, 0.04) 0px 20px 10px -5px;
}

.centralizarbotao{
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tudoform{
    background-color: #f5f5f5;
    margin-top: 50px;
}

