html{
    --color-grey: #cccccc;
}


h1 {
    text-align: center;
    margin: 3rem 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


.titulo {
    font-family: 'HT Modern Hand Sans', sans-serif;
    font-size: 24pt;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    padding-top: 150px;
    padding-bottom: 20px;
}

/************* Main ***********/

.rowequipa {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

}

.cardequipa {
    width: 300px;

    border-radius: 8px;
    margin: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cardequipa img {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #ddd;
}

.cardequipa h2 {
    padding-top: 10px;
    text-align: center;
    color: #000000;
    font-weight: bolder;
}

.cardequipa p {
    padding-left: 10px;
    padding-right: 10px;
}
/*
.card-conteudo {

}*/

@media (max-width: 768px) {
    .cardequipa {
        flex: 0 0 calc(50% - 30px); /* Reduz a largura para ocupar metade da linha em telas menores */
    }
}

@media (max-width: 576px) {
    .cardequipa {
        flex: 0 0 calc(100% - 30px); /* Reduz a largura para ocupar toda a linha em telas muito pequenas */
    }
}
