
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.background {
    margin: 0;
    padding: 0;
    background-image: url("../img/login-register/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgb(44 44 44 / 71%);
    backdrop-filter: blur(3px);
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center h1 {
    text-align: center;
    padding: 20px 0;
    color: #e9f4fb;
    border-bottom: 1px solid #e9f4fb;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #e9f4fb;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    color: #e9f4fb;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #e9f4fb;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #0b86dd;
    transition: 0.5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: #0b86dd;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.sign {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    border: none;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #e9f4fb;
}

.sign:hover {
    color: #ff8606;
}

.mail {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    border: none;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #e9f4fb;
}

.mail:hover {
    color: #ff8606;
}

.eye1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    border: none;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #e9f4fb;
}

.eye1:hover {
    color: #ff8606;
}

.eye2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    border: none;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #e9f4fb;
}

.eye2:hover {
    color: #0b86dd;
}

.pass {
    color: #e9f4fb;
    cursor: pointer;
    text-decoration: none;
}

.pass:hover {
    color: #0b86dd;
}

.forget {
    width: 100%;
    height: 40px;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 0;
    background: #0b86dd;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #0b86dd;
    transition: 0.5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #e9f4fb;
}

.signup_link a {
    color: #e9f4fb;
    text-decoration: none;
}

.signup_link a:hover {
    color: #0b86dd;
}

button#reset {
    background-color: #0b86dd;
    border-color: #0b86dd;
}
