html {
    --color-grey: #cccccc;
}


h1 {
    text-align: center;
    margin: 3rem 0;
}

li {
    list-style: none;

}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}




h1{
    margin-top: 4rem!important;
    margin-bottom: 1rem!important;
    color: #424242;
}










/* banner */

.content {
    text-align: left;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    padding-left: 20px;
    padding-top: 20px;
    height: auto;
    z-index: 1;
}

.banner {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 100%), url('../img/dentist-2589771.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../dentist-2589771.jpg');
    background-size: cover;
    background-position: center;
}

.title {
    padding-top: 100px;
    font-size: 64px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}

.subtitle,
.subtitle1 {
    font-size: 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.button {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #0b86dd;
    color: #fff;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.button:hover {
    background-color: #419fe1;
    color: #fff;
}


/************************************* slider ***************************************/

.slider {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 8rem;
}

.slider-track {
    display: flex;
    position: relative;
    transition: transform 0.5s ease;
    gap: 1rem;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-user-drag: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.slider-text {
    position: absolute;
    bottom: 0;
    padding: 0.5rem 0.5rem;
    padding-left: 2rem;
    z-index: 1;
    color: #0b86dd;
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.slider-item {
    position: relative;
    border-radius: 1rem;
    flex: 0 0 auto;
    box-sizing: border-box;
    width: auto;
    height: 40svh;
    overflow: hidden;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(242, 242, 242, 0) 100%);
    pointer-events: none;
    z-index: 1;
}

.slider-item img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.8s;
}

.slider-btn {
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    width: 3.5rem;
    height: 3.5rem;
    background-color: #0b86dd;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    opacity: 60%;
    z-index: 1;
}

.slider-btn img {
    height: 1.5rem;
}

.slider-btn:hover {
    opacity: 100%;
}

.left {
    left: 1.5rem;
}

.right {
    right: 1.5rem;
}

.slider-nav-dots {
    margin-top: 3rem;
    text-align: center;
    cursor: pointer;
}

.slider-dot {
    transition-duration: 0.3s;
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    background-color: #0b86dd;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 1.3rem;
}

.slider-dot.active {
    background-color: #85ccff;
    width: 1.8rem;
    border-radius: 1rem;
}


.slider-item:hover img {
    scale: 115%;
}


/*--responsive for mobile phone--*/
@media(max-width:720px) {
    .box {
        width: 94%;
        height: 500px;
    }

    .model {
        height: 250px;
    }

    .details p {
        font-size: 16px;
        width: 250px;
    }

}


/*
h1 {
    text-align: center;
    margin: 3rem 0;
  }
  li {
    list-style: none;
  }
  body {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .carousel {
    position: relative;
    height: 400px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .carousel__images {
    max-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel__track-container {
    background: pink;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  .carousel__track {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    transition: transform 0.4s ease-in-out;
  }
  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }
  .carousel__button:hover {
    background-color: rgb(254, 215, 222);
    border-radius: 20px;
  }

  .carousel__button--left {
    left: -40px;
  }
  .carousel__button--right {
    right: -40px;
     transform: translateY(-50%) rotate(180deg)
  }
  .carousel__button img {
    width: 25px;
  }
  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 1rem;
  }
  .carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  .carousel__indicator.current-slide {
    background: rgba(0, 0, 0, 0.9);
  }
  .is-hidden {
    display: none;
  }
 */
