
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    --color-grey: #cccccc;
}


h1 {
    text-align: center;
    margin: 3rem 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
}

#logoregistro {
    max-width: 270px;
    max-height: 120px;
    width: 100%;
    padding-bottom: 25px;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}


.center h1 {
    font-size: 24pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #30383B;
    padding-bottom: 0;
}

.center p {
    font-size: 18px;
    color: #30383B;
    text-align: center;
}

.center form {
    box-sizing: border-box;
}

.txt_field {
    position: relative;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 20px 20px 10px;
    height: 60px;
    font-size: 14px;
    border-radius: .75em;
    border: none;
    background: #EDEFF2;
    outline: none;
    box-sizing: border-box;
}

.txt_field input:focus {
    border: 2px solid #0b86dd;
    background-color: #fff;
}

.txt_field label {
    position: absolute;
    top: 18px;
    left: 20px;
    color: #787c83;
    font-weight: 500;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: 10px;
    font-size: 12px;
}

.txt_field input:focus,
.txt_field input:valid {
    padding-top: 30px;
}


.sign {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    border: none;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #e9f4fb;
}

.sign:hover {
    color: #ff8606;
}

.mail {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    border: none;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #e9f4fb;
}

.mail:hover {
    color: #ff8606;
}

.eye1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    border: none;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #e9f4fb;
}

.eye1:hover {
    color: #ff8606;
}

.eye2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    border: none;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #e9f4fb;
}

.eye2:hover {
    color: #0b86dd;
}

.pass {
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    color: #0b86dd;
    font-weight: 600;
    text-align: center;
}

.pass:hover {
    color: #419fe1;
}

.forget {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


input[type="submit"] {
    width: 100%;
    height: 60px;
    border: 0;
    background: linear-gradient(8deg, #0b86dd 15.1%, #419fe1 100%);
    border-radius: 1rem;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background: #0b86dd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 30px 25px -5px, rgba(0, 0, 0, 0.04) 0px 20px 10px -5px;
}

.signup_link {
    margin: 30px 0 0;
    font-size: 16px;
    color: #30383B;
    text-align: center;
}

.signup_link a {
    color: #0b86dd;
    font-weight: 600;
    text-decoration: none;
}

.signup_link a:hover {
    color: #419fe1;
}

button#reset {
    background-color: #0b86dd;
    border-color: #0b86dd;
}
