@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    --color-grey: #cccccc;
}


h1 {
    text-align: center;
    margin: 3rem 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
}

.titulo1 {
    font-size: 24pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #30383B;
    padding-top: 150px;
    font-family: "Poppins", sans-serif;
}

.divisorbloco {
    width: 100%;
    margin-bottom: 70px;
    text-align: center;
}

.divisorbloco .linha {
    width: 100px;
    height: 2px;
    background: #0b86dd;
    display: inline-block;
}

.erro-message {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #30383B;
    font-weight: bold;
    text-transform: uppercase;
}
/****************** info ************************/

.carduser{
    padding-bottom: 150px;
    background-color: #f5f5f5;
}

.perfildados{
    background-color: #f5f5f5;
}

.userimage {
    width : 150px !important;
    height: 150px;
    border-radius: 5rem;
}

.botaoins {
    padding: 10px 30px;
    margin-top: 20px !important;
    background: linear-gradient(8deg, #0b86dd 15.1%, #419fe1 100%);
    color: #fff;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 16px;
    text-align: left;
    border:1px solid #0b86dd;
    cursor: pointer;
    display: inline-block;
    border-radius: 2rem;
}

label.btn {
    margin-bottom: 0;
}

.custom-file-input {
    padding: 10px 30px;
    margin-top: 20px !important;
    background: linear-gradient(8deg, #0b86dd 15.1%, #419fe1 100%);
    color: #fff;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 16px;
    text-align: left;
    border:1px solid #0b86dd;
    cursor: pointer;
    display: inline-block;
    border-radius: 2rem;
}

.custom-file-input input[type='file'] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

.custom-file-input:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}






/* form */

.botao {
    padding: 10px 30px;
    margin-top: 50px !important;
    background: linear-gradient(8deg, #0b86dd 15.1%, #419fe1 100%);
    color: #fff;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 16px;
    text-align: left;
    border:1px solid #0b86dd;
    cursor: pointer;
    display: inline-block;
    border-radius: 2rem;
}


.botao:hover {
    background: #fff;
    color: #0b86dd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 30px 25px -5px, rgba(0, 0, 0, 0.04) 0px 20px 10px -5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
    font-weight: 600;
    font-size: 14pt;
    color: #419fe1;
}

.form-group input[type="text"],
    .form-group input[type="tel"] {
        border: none;
        border-bottom: 2px solid #ccc;
        padding: 5px;
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
        color: #333;
        outline: none;
    }


    .form-group input[type="text"]:focus,
    .form-group input[type="tel"]:focus {
        border-bottom-color: #007bff;
        outline: none !important;
    }
